@import "tailwindcss";

@theme {
    --color-white: #FDFDFD;
    --color-floral-white: #FDF8EB;
    --color-copper: #B07C4C;
    --color-taupe: #92817a;
    --color-dark-coffee: #362417;
    --color-focused-brown: #956639;
    --font-heading: 'Onest', sans-serif;
    --font-body: 'Onest', sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

@media (max-width: 767px) {
    .site-nav {
        justify-content: center;
        padding: 0.75rem 1rem;
    }

    .nav-logo {
        display: none;
    }

    .nav-links {
        gap: 3rem;
    }

    .nav-label {
        display: none;
    }

    .nav-cta-desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav-item-mobile {
        display: none;
    }

    .nav-link .nav-icon {
        display: none;
    }

    .cta-floating {
        display: none;
    }
}
