@import "tailwindcss";

@theme {
    --color-white: #FDFDFD;
    --color-floral-white: #FDF8EB;
    --color-copper: #B07C4C;
    --color-taupe: #92817a;
    --color-dark-coffee: #362417;
    --color-focused-brown: #956639;
    --font-heading: 'Onest', sans-serif;
    --font-body: 'Onest', sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}


@keyframes mascot-enter {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes mascot-tilt {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}
